@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
.details{
  position : relative!important;
  color : #fff;
  font-size : 2em;
}
#imagetext{
  position : relative;
  top : 50px;
}
#page1{
  width:100%;
  background : #111   no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;
  font-family: 'Shadows Into Light';
  background: url(../img/background.jpg);
  
}
#title{
  /*text-shadow: 2px 2px #ff0000;*/
  color:#000;
  position :relative;
  z-index: 10;
  text-align :center;
  font-size: 120px;
  top:-125px;
  color :rgb(170, 50, 29);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;  
}
#subtitle{
  /*text-shadow: 2px 2px #f00;*/
  position: relative;
  z-index: 10;
  font-size: 36px;
  text-align : center;
  color: #000;
  top:-150px;
  color :rgb(170, 50, 29);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
#page2{
  top:500px;
  margin-left: 0px;
  width:100%;
  background : #cc6699 no-repeat fixed center;
  color:#fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;
  font-size: 50px;
}
html, body {
    margin: 0;
    padding: 0;
}
.section {
  background-color: #aaf;
  text-align:center;
}
#section0,
#section1,
#section2,
#section3{
    background-size: cover;
}
.mySlides{
display:none;
}
.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;  
    display: inline-block;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1{
  padding: 15px 74px;
  background-color: #77f;
  color : #fff;
  top:-58px;
  text-align : center;
  border-radius : 3px;
  position : relative;
}
.button1:hover {
    background-color: #ff33cc;
    color: white;
}
.button2{
  padding: 15px 80px;
  background-color: #77f;
  color : #fff;
  top:-80px;
  text-align : center;
  border-radius : 3px;
  position : relative;
}
.button2:hover {
  background-color: #ff33cc;
  color: white;
}
.button6{
  padding: 15px 87px;
  background-color: #77f;
  color : #fff;
  top:-20px;
  text-align : center;
  border-radius : 3px;
  position : relative;
}
.button6:hover {
    background-color: #ff33cc;
    color: white;
}
.button5{
  padding: 15px 80px;
  background-color: #77f;
  color : #fff;
  top:0px;
  text-align : center;
  border-radius : 3px;
  position : relative;
}
.button5:hover {
  background-color: #ff33cc;
  color: white;
}
.blue {
  background: #fff;
}
.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left:37.5%;
  top:350px;
  width: 25%;
  height: 280px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
#s1{

}
#s2{
  left:500px;
}
#s3{
  top:500px;
}
#topic{
  font-family: 'Josefin Sans';
  font-size: 40px;
  text-decoration: underline;
  position:absolute;
  left: 100px;
  top : 20px;
}
#email1{
    height: 200px;
    width: 400px;
    background: lightgreen ;
    margin: 100px auto 0;
}
input[type=text], input[type=password], input[type=email] {
    font-size: 15px;
    background : #fff;
    height: 32px;
    width:250px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 
.topbtn{
  position :fixed;
  top : 10px;
  right : 140px;
  z-index:2;
}
.topbtn>a>.button { 
    border: none;
    color: white;
    padding: 10px 3px;
    width : 95px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.topbtn>a>.button3 {
    border-radius : 2px;
    right :20px;
    color: #fff;
    background-color: #9900cc;
}
.topbtn>a>.button4 {
    border-radius : 2px;
    background-color: #9900cc; 
    color: #fff; 
}
#waittext{
  font-family: 'Josefin Sans';
  position:relative;
  top : -40px;
  font-size : 1.5em;
}