/* from -  http://codepen.io/ongtiffany/pen/BoOeQV */

/*Eliminates padding, centers the thumbnail */
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body, html {
padding: 0;
margin: 0;
overflow-x:hidden;
}
#headstore{
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    font-size:1.5em;
    padding-top:3%;
    text-decoration:underline;
}
#headstore>h3>#sorrytext>a{
    color : #faa;
}
table{
    border-collapse: separate;
    border-spacing: 0em 0.5em;
    left : 14%;
    position : relative;
}
td th{
    word-wrap: break-word;
    max-width: 150px;
}
#advanced{
    position : fixed;
    margin-top : 12%;
    top : -10%;
    left : 2%;
    z-index : 20;
    height : 100vw;
    overflow-y : hidden;
    box-shadow: 6px 0px 5px -5px #999;
    width : 25%;
    max-width : 25%;
    font-family: 'Josefin Sans', sans-serif;
}
.element{
    -webkit-transition: margin .5s;
    -moz-transition: .5s;
    transition: .5s;
    margin-top:0%;
    height:340px;
    border-style:transparent;
    font-family: 'Josefin Sans', sans-serif;
}
.element:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#item{
    padding : 10px 10px;
}
#desc{
    /*margin-top : 0%;*/
    /*margin-left:14%;*/
}
#date{    
    margin-top : 5%;
    /*margin-left : 14%;    */
}
.horizontal{
    margin-top:1%;
    display: block;
    margin-bottom: -0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-style: inset;
    border-width: 1px;
    border-color:black;
}
#name{
    position : relative;
    top:0%;
    font-size : 2.3em;
    left:5%;
}
#price{
    position : relative;
    top:0%;
    color : #4f0;
    font-size:1em;
    left:5%;
}
#clg{
    position : relative;
    top:0%;
    left:5%;
}
#category{
    position : relative;
    top:0%;
    left:5%;
}
#con{
    position : relative;
    top:-83%;  
    left:78%;
}
img,element{
    position:relative;
    margin: 20px 20px 20px 20px;
    height:40%;
}
#search{
    position:fixed;
    margin-top:4em;
    right:1em;
    z-index : 2;
}
.expand{
    width:50px;
    height:50px;
}
#searchbar{
    position : fixed;
    left : 0;
    text-align : center;
    padding-bottom:.8%;
    padding-top : .8%;
    top :50px;
    box-shadow: 0px 7px 5px -5px #999;
    z-index : 200;
    padding-left : 34%;
    padding-right : 45%;
    background-color : #ffffe6;
    width : 32vw;
}
#searchbar>button{
    width : 23%;
    height : 31px;
    border-radius : 3px;
    background-color : rgb(68, 164, 237);
    color :#fff;
    border : none;
    cursor : pointer;
}
#advanced>h2{
    font-size : 2em;
}
#advanced>form>a{
    position : relative;
    font-size : 1.2em;
    color : rgb(221, 75, 221);
    text-decoration : bold;
    -webkit-transition:left color .5s;
    -moz-transition: .5s;
}
#advanced>form>a:hover{
    left : 5px;
    color :rgb(55, 71, 163);
}