@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body{
  background-color : #fff;
}
#title{
  position : absolute;
  top:28%;
  left : 42%;
}
#desc{
  position:absolute;
  top:43%;
  left:42%;
}
#contact{
  position : absolute;
  top :52%;
  left : 42%;
}
#radio{
  position : absolute;
  top :61%;
  left : 41%;
}
#price{
  position : absolute;
  top :65%;
  left : 42%;
}
#upload{
  position : absolute;
  top :73%;
  left : 45%;
}
#add{
  position : absolute;
  top :76%;
  left : 42%;
}
.button3{
  position : absolute;
  padding: 4px 10px;
  background-color: #09f;
  top:55%;
  left:42%;
  border-radius : 3px;
  height : 5vh;
  width : 16vw;
}
.button3:hover {
    background-color: #ff33cc;
    color: white;
}
input[type=text], input[type=password], input[type=email] {
    font-size: 15px;
    background : #fff;
    height: 42px;
    width:250px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 2px;
    box-sizing: border-box;
}
#headname{
    position : absolute;
    left:38%;
    top:4%;
    padding:0px;
    font-family: 'Shadows Into Light';
    color:rgb(170, 50, 29);
    font-size:7em;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    width: 16vw;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    top : 37vh;
    position : relative;
    left : 42vw;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}